#attempt {
    position: absolute;
    width: 90%;
    left: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    top: 15%;
    background-color: #999;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    color: #444;
}

#question {
    position: relative;
    top: 10px;
    width: 60%;
    margin-left: 20%;
    padding: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

#answers {
    position:absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

#answers ul {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#answers li {
    float: left;
    display: block;
}

#answers input[type=submit] {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #333;
}

.easy {
    background-color: limegreen;
}

.medium {
    background-color: dodgerblue;
}

.hard {
    background-color: orange;
}

.correct {
    background-color: limegreen;
}

.incorrect {
    background-color: red;
}

#overview {
    width: 100%;
}

#overview ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#overview li {
    display: block;
    float: left;
    width: 6.5%;
    padding-right: 0.7%;
}

#level {
    text-align: center;
    height: 40px;
    width:100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

#answer {
    text-align: center;
    height: 40px;
    width:100%;
    border-radius: 5px;
}