#title {
    position: absolute;
    width: 90%;
    left: 5%;
    overflow-y: scroll;
    height: 5%;
    top: 5%;
    background-color: #999;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    color: #444;
}

#title h3 {
    margin: 0px;
    padding: 5px;
}

#questions {
    position: absolute;
    width: 42.5%;
    left: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    top: 15%;
    background-color: #999;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    color: #444;
}

#questions ul {
    padding: 0;
    width: 90%;
    left: 5%;
}

#questions li {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    margin-bottom: 20px;
    text-decoration: none;
}

#questions li input {
    width: 60%;
}

#questions li.easy {
    background-color: limegreen;
}

#questions li.medium {
    background-color: dodgerblue;
}

#questions li.hard {
    background-color: orangered;
}

#attempts {
    position: absolute;
    width: 42.5%;
    left: 52.5%;
    overflow-y: scroll;
    height: 80%;
    top: 15%;
    background-color: #999;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    color: #444;
}

#studentAttempts {
    position: absolute;
    width: 90%;
    left: 5%;
    overflow-y: scroll;
    height: 80%;
    top: 15%;
    background-color: #999;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    color: #444;
}