#login {
    position: fixed;
    top: 10%;
    width: 80%;
    height: 80%;
    left: 10%;
    background-color: #AAA;
    border: 2px solid #999;
    border-radius: 10px;
}

#loginBox {
    top: 20px;
    position:absolute;
    width: 60%;
    left: 20%;
}